<button mat-button routerLink="/dashboard" routerLinkActive="selected">Dashboard</button>
<button mat-button routerLink="/gallery" routerLinkActive="selected">Gallery</button>
<button mat-button routerLink="/crud" routerLinkActive="selected">CRUD</button>
<button mat-button routerLink="/profile" routerLinkActive="selected">Profile</button>
<button mat-button (click)="logout()">Logout</button>
