/* reset */
@import url("https://unpkg.com/ress/dist/ress.min.css");

/* scss vars */
$mq-md: 768px;
$mq-lg: 1024px;

/* tokens */
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-lighter-black: #141414;
    --color-purple: #8555ff;

    --font-size-head: 18px;
    --font-size-title: 16px;
    --font-size-regular: 12px;

    --top-item-min-width: 225px;
    --item-min-width: 250px;

    --section-gap: 2px;
    --section-item-img-height: 200px;
    --section-item-img-width: 350px;
    --section-item-img-size-ratio: calc(200/350);
    --section-item-count: 5;
    
    
}

img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

body {
    background-color: var(--color-lighter-black);
    font-family: "Jost";
    color: var(--color-white);
    height: 100vh;
}

header {
    background-color: var(--color-lighter-black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-head);
    position: sticky;
    top: 0;

    img {
        padding: 20px;
    }

    & > div {
        display: flex;
        flex-direction: row;
        gap: 5px;

        & > div {
            align-self: center;
        }
    }
    & > div:first-of-type div {
        min-width: 200px;
        display: none;
        @media screen and (min-width: $mq-lg) {
            display: block;
        }
    }

    & > div:last-of-type {
        font-size: var(--font-size-regular);
        gap: 20px;
        padding: 10px;

        & > div {
            padding: 15px;
            border-radius: 5px;
        }
        :hover {
            background-color: var(--color-white);
            color: var(--color-purple);
        }
    }
}

main {
    .section-title {
        font-size: var(--font-size-title);
        #top-text::after {
            content: "3";
            font-weight: bolder;
            @media screen and (min-width: $mq-lg) {
                content: "5";
            }
        }
    }
    section.top {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        @media screen and (min-width: $mq-md) {
            flex-direction: row-reverse;
        }
        .top-item {
            min-width: var(--top-item-min-width);
            &:first-of-type,
            &:nth-of-type(2) {
                display: none;
                @media screen and (min-width: $mq-lg) {
                    display: block;
                }
            }
        }
    }
    section:not(.top) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        gap: var(--section-gap);

        .item {
            flex: 1;
            min-width: 15em;
        }
        :hover {
            transition: 0.5s;
            flex: 1.5;
        }
    }
}
