body {
    margin: 0;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}

.card {
    --card-width: 30em;

    border: 1px solid black;
    width: var(--card-width);
    font-size: large;
    
    display: grid;
    gap: 10px;

    & > * {
        padding: 0 5px 0 5px;
        margin: 0;
    }

    > .card-image {
        width: initial;
        height: var(--card-width);
        background: no-repeat center url('../img/image.jpeg');
        background-size: cover;
    }
    > .card-title {
        font-size: xx-large;
        font-weight: normal;
    }
    > .card-published {
        justify-self: right;
        > .card-published-date {
            color: green;
        }
    }
    > .card-button {
        margin: 5px;
        height: 3em;
        border: 1px solid darkgreen;
        border-radius: 0px;
        box-shadow: none;
        background-color: green;
        color: white;
        font-size: x-large;
    }

}
