html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-card {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  button {
      align-self: center;
      width: max-content;
  }
}