<template>
  <div class="home">
    <MemberDetail :login="$route?.params?.login ?? ''" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import MemberDetail from "@/pods/member/components/MemberDetail.vue";

export default defineComponent({
  name: "GitHub User View",
  components: {
    MemberDetail,
  },
});
</script>
