<template>
  <div class="home">
    <MemberList />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import MemberList from "@/pods/member/components/MemberList.vue";

export default defineComponent({
  name: "GitHub Member list",
  components: {
    MemberList,
  },
});
</script>
