<button mat-button routerLink="/home" routerLinkActive="selected">Home</button>
<button mat-button routerLink="/login" routerLinkActive="selected">Login</button>
<button mat-button routerLink="/about" routerLinkActive="selected">About</button>
