$nav-background-color: darkolivegreen;

body {
    display: flex;
    flex-direction: column;
}
div {
    min-height: 30px;
}
.nav {
    background-color: $nav-background-color;
    display: flex;
    justify-content: space-between;

    & > .menu {
        padding-top: auto;
        padding-bottom: auto;
        padding-left: 20px;
        padding-right: 20px;
        display: table;
        > span {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }
    & > .menu:hover {
        background-color: darken($nav-background-color, 10%);
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}

