<mat-card>
  <form >
    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Username</mat-label>
      <input matInput name="username" [(ngModel)]="cradentials.username">
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="cradentials.password">
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="login()">LOGIN</button>
  </form>
</mat-card>