@use 'sass:list';
@use "sass:meta";

$colors: red blue green;

div[class^=container] {
    display: flex;
}

@mixin box-bgc-rule($container, $color, $class:base-color) {
  .container-#{$container} .box.#{$class} {
    background-color: $color;
  }
}

@for $idx from 1 through 3 {
  @include box-bgc-rule(
      $idx,
      list.nth($colors, $idx)
  );
  @for $pos from 1 through 4 {
    @each $side in darken, lighten {
        @include box-bgc-rule(
            $idx, 
            meta.call(
                meta.get-function($side),
                list.nth($colors, $idx), 
                $pos * 5%
            ),
            "#{$side}-#{$pos}"
        );
    }
  }
}

.box {
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  color: white;
  min-height: 50px;
  min-width: 50px;
  display: table;
}
span {
    display: table-cell;
    vertical-align:middle;
    text-align: center;
}