<template>
  <input v-model="inputValue" />
  <button @click="raiseValue">Aceptar</button>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "ButtomedInput",
  props: {
    value: String,
  },
  data() {
    return { inputValue: "" + this.value };
  },
  methods: {
    raiseValue() {
      this.$emit("onChange", this.inputValue);
    },
  },
});
</script>
