<mat-card>
    <form >
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Username</mat-label>
        <input matInput name="username" [(ngModel)]="username">
      </mat-form-field>
    </form>
  </mat-card>