<mat-card>
    <h2>Awesome dashboard</h2>
</mat-card>
<mat-card>
    <div class="buttons">
        <button mat-button routerLink="/gallery" routerLinkActive="selected">Check the cat photo gallery</button>
        <button mat-button routerLink="/profile" routerLinkActive="selected">Check your profile</button>
    </div>
</mat-card>
