body {
    display: inline-block;
    font-family: monospace;
}
div {
    margin-top: 10px;
    display: table;
    width: 100px;
}
div > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.base,
.important,
.warning,
.shadow {
    height: 50px;
    border: 1px solid #000;
}
