.base,
.important,
.warning,
.shadow {
    border-radius: 3px;
}
.base {
    background-color: red;
}
.important {
    background-color: darkred;
}
.warning {
    background-color: pink;
}
.primary {
    font-family: "New Century Schoolbook";
}
.secondary {
    font-family: "Comic Sans";
    font-size: small;
}
.shadow {
    box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
