.base,
.important,
.warning,
.shadow {
    border-radius: 6px;
}
.base {
    background-color: blue;
}
.important {
    background-color: #00008b;
}
.warning {
    background-color: aqua;
}
.primary {
    font-family: "Times New Roman";
}
.secondary {
    font-family: "Times New Roman";
}
.shadow {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
