mat-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.main {
    height: 400px;
    width: 400px;
    align-self: center;
    border: 1px grey solid;
}

.pool {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    img {
        height: 40px;
        width: 40px;
        border: 1px grey solid;
        cursor: pointer;
    }
    .selected {
        border: 2px red solid;
    }
}
