<mat-card>
  <h2>Photo gallery</h2>
</mat-card>
<mat-card>
  <!--
    <div class="buttons">
        <button mat-raised-button color="primary"><mat-icon>zoom_in</mat-icon></button>
        <button mat-raised-button color="primary"><mat-icon>zoom_out</mat-icon></button>
        <button mat-raised-button color="primary"><mat-icon>play_circle</mat-icon></button>
        <button mat-raised-button color="primary"><mat-icon>stop_circle</mat-icon></button>
    </div>
  -->
  <img class="main" [src]="imageUrl(images[position])" />
  <div>tags: {{ images[position].tags.join(", ") }}</div>

  <div class="pool">
    <button mat-raised-button color="primary" (click)="prev()">
      <mat-icon>arrow_circle_left</mat-icon>
    </button>
    <img
      *ngFor="let image of imagePool"
      [src]="imageUrl(image)"
      [class.selected]="image === images[position]"
      (click)="setImage(image)"
    />
    <button mat-raised-button color="primary" (click)="next()">
      <mat-icon>arrow_circle_right</mat-icon>
    </button>
  </div>
</mat-card>
