$bgcolor: hsl(210, 100%, 90%);

* {
	margin: 0;
	border: 0;
}

body {
	align-items: center;
	background-color: $bgcolor;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100vh;
	justify-content: center;
}
