$bgcolor: hsl(210, 100%, 90%);

* {
  margin: 0;
  border: 0;
}

body {
  background-color: $bgcolor;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

img {
  width: 300px;
}
